@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 29px;
    color: #222;
}

h2 {
    font-size: 29px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-n1 {
    margin: 40px 0;
}

button.normal {
    font-size: 34px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    background: #088178;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url("img/H9.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    color: #524caf;
}

#hero h1 {
    color: #20d699;
}

#hero h2 {
    color: #524caf;
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #33cc99;
    padding: 3.8px 80px 3.8px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}